.paraOne{
	/*text-align: center;*/
	border-color: blue;
	border: 1px solid;
	text-indent: 50px;
	font-weight: lighter;
}
#paraTwo{
	background-color: yellow;
	font-family: "Comic Sans MS";
}
#tableHead{
	background-color: red;
	color: blue;

}

