body{
	background-color: #fafafa;
	/*font-family: "Comic San Serif";*/
	color: #333;
}
.tab ul{
	margin: 0;
	padding:0;
}
.tab ul li{
	list-style-type: none;
	display: inline-block;
	background-color: #999;
	margin: 0;
	padding: 3px 10px;
	border-radius:10px 10px 0 0;
	color: #fff;
	font-weight: 200;
	cursor: pointer;
}
.tab ul li:hover{
	color: #fff;
	background: #666;
}
.tab ul li.active{
	color: #fff;
	background:#666;
}
.tab .panel {
    display:none;
    background: #c9c9c9;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

.tab .panel.active {
    display:block;
}